@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo{
  background-image: url("/fondo2.jpg");
  
}

.personalizado {
  color: #7b2b00;
  background: #ffffff30;
  border-radius: 20px;
}

.personalizado-2 {
  text-align: center;
}